! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,resize-font
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

! Keybindings
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped

! Special Keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Transparency
! URxvt.depth: 32
! URxvt.background: rgba:26/41/55/dddd

! Fonts

!Courier
!URxvt.font: xft:Courier-10

!Inconsolata
URxvt.font: xft:Inconsolata:size=10
URxvt.boldFont: xft:Inconsolata:size=10
URxvt.letterSpace: -1

! Colours

*color0: #495c65
*color1: #f7cac9
*color2: #9fa19c
*color3: #e0cbd4
*color4: #91a8cf
*color5: #8b85a5
*color6: #c1cfcf
*color7: #c9d3de
*color8: #485c64
*color9: #d9b1b1
*color10: #c1beb7
*color11: #af9ea5
*color12: #677793
*color13: #656178
*color14: #858f8f
*color15: #e4e9ec
*background: #292827
*foreground: #e4e9ec
*cursorColor: #c7c7c7
*highlightTextColor: #000000
*highlightColor: #c1ddff
